@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Kanit:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Futura,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




@layer components {
  .textStrokeTransparentDark {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff8367;
  }

  .textStrokeTransparentLight {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #142850;
  }


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#description_profil {
  animation-name: from_left;
  animation-duration: 2s;
}



#img_profil {
  animation-name: from_right;
  animation-duration: 3s;
}

#list_about {
  animation-name: from_bottom;
  animation-duration: 1s;
}

#animate_from_top {
  animation-name: from_top;
  animation-duration: 1s;
}


@keyframes from_right{
  0%{
  opacity : 0;
  transform: translateX(30px);
}
  100%{
  opacity : 1;
}
} 
@keyframes from_left{
  0%{
  opacity : 0;
  transform: translateX(-30px);
}
  100%{
  opacity : 1;
}
} 
@keyframes from_bottom{
  0%{
  opacity : 0;
  transform: translateY(30px);
}
  100%{
  opacity : 1;
}
} 
@keyframes from_top{
  0%{
  opacity : 0;
  transform: translateY(-30px);
}
  100%{
  opacity : 1;
}
} 



.scollableList {

  background-image: 
	
    /* Shadows */ 
    linear-gradient(to right, #142850, #142850),
    linear-gradient(to right, #142850, #142850),
  
/* Shadow covers */ 
    linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
    linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   

  background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-color: #142850;
	background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}


.scollableListLight {

  background-image: 
	
    /* Shadows */ 
    linear-gradient(to right, #ADC1EA, #ADC1EA),
    linear-gradient(to right, #ADC1EA, #ADC1EA),
  
/* Shadow covers */ 
    linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
    linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   

  background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-color: #ADC1EA;
	background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}
}